@import '../../Constants/Constants.scss';

.path {
  .container {
    @include container();
    display: flex;
    align-items: center;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
  }

  .link {
    color: #1d1d1b;
    text-decoration: underline;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 700;
  }
}
